apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-data
  namespace: chat-app
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data
